:root {
  --max-width: 640px;
  --border-radius: 4px;
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --primary-color: #00b300;
  --text-color: #97a5b8;
  --secondary-color: #007d00;
  --background-color: #f4f6fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--text-color);
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

@media screen and (min-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}

.app {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  min-height: 300px;
}

@media screen and (min-width: 480px) {
  .app {
    margin-top: 3rem;
    min-height: 400px;
  }
}

input[type='text'] {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  width: 100%;
  color: var(--text-color);
  height: 30px;
}

input[type='radio'] {
  margin-right: 0.5rem;
}
